
body{
    height: 100vh;
    background: #161513;
    color: white;
    font-family: 'outfit';
}
@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient 5s ease infinite;
}

.reflect{
  transform: scaleX(-1);
}

@import "tailwindcss";
